<div class="edit-form">
  <%= simple_form_for @creature do |f| %>
    <%= f.input :name, :required => false %>
    <%= f.input :kind, :required => false %>
    <%= f.input :description, :required => false %>
    <%= f.input :address, :required => false %>
    <%= f.input :price, :required => false %>
    <%= f.input :photo, as: :file, :required => false %>
    <div class = "buttons">
      <div class="row">
        <div class="col-md-6">
          <%= f.submit class: 'edit-button' %>
        </div>
        <div class="col-md-6">
          <%= link_to "Delete Creature",
              creature_path(@creature),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "delete-button"%>
        </div>
      </div>
    </div>

  <% end %>
</div>
<br>
<br>
