
<h1 id="h1-index">All the amazing creatures we have!</h1>
<br>
<div class="card-container">
  <% @creatures.each do |creature| %>
    <%= link_to creature_path(creature) do %>
      <div class="card-product">
        <img src="<%= creature.picture_url %>" />
        <div class="card-product-infos" id="card-text">
          <h2><%=creature.name%></h2>
          <p><strong> Address | </strong> <%= creature.address %></p>
          <p><strong> Kind | </strong> <%= creature.kind %></p>
          <p><strong> Price per day | </strong> <%= creature.price %>$</strong></p>
          <p>
            <strong> Owner | </strong>
            <% if user_signed_in? == true %>
              <% if creature.user_id == current_user.id %>
                You
              <% end %>
            <% else %>
              <%= creature.user.first_name %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
