<div id="search-form">
  <h4 id="h1-index">Here are all the most amazing creatures...</h4>
  <%= render 'shared/search' %>
</div>
<div class="card-container">
  <% @creatures.each do |creature| %>
    <%= link_to creature_path(creature) do %>
      <div class="card-product">
        <%= cl_image_tag creature.photo.key %>
        <div class="card-product-infos" id="card-text">
          <div class="infos-title">
            <h2><%=creature.name%></h2>
            <p><%= creature.kind.upcase %></p>
          </div>
          <div class="infos-content">
            <p><%= creature.description %></p>
            <p><%= creature.address %></p>
          </div>
        </div>
          <div class="card-footer">
            <p><%= creature.price %>$ /per day</p>
            <p>
              <% if user_signed_in? == true %>
                <% if creature.user_id == current_user.id %>
                  You
                <% else %>
                <%= creature.user.first_name %>
                <% end %>
              <% else %>
                <%= creature.user.first_name %>
              <% end %>
            </p>
          </div>
      </div>
    <% end %>
  <% end %>
</div>
<br>
<br>
<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
