
<div class="container">
  <h3>Add a creature</h3>
  <%= simple_form_for @creature do |f| %>
    <%= f.input :name %>
    <%= f.input :type %>
    <%= f.input :description %>
    <%= f.input :picture_url %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
